@tailwind base;
@tailwind components;
@tailwind utilities;

.carouselCard {
    transition: left 1.5s;
    position: absolute;
}

.carouselButton {
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 12px;
    border-radius: 30px;
    position: absolute;
    cursor: pointer;
}

.viewStandingButton {
    background-color: #08bf57;
}

.viewStandingButton:hover {
    background-color: #01441e;
}

.participatingButton {
    background-color: #f70a65;
}

.participatingButton:hover {
    background-color: #790330;
}

.podiumContainer {
    display: block;
}

.dashboardAvatar {
    width: 120px;
    height: 120px;
}

.scoreBoardContainer::-webkit-scrollbar {
    display: none;
}

.scoreBoardWrapper:hover {
    background-color: #5e57e6
}

@media only screen and (max-width: 600px) {
    .podiumContainer {
        display: none;
    }

    .dashboardAvatarContainer {
        flex-grow: 1;
    }

    .dashboardAvatar {
        width: 160px;
        height: 160px;
    }
}