@tailwind base;
@tailwind components;
@tailwind utilities;

.carouselCard {
    transition: left 1.5s;
    position: absolute;
}

.carouselButton {
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 12px;
    border-radius: 30px;
    position: absolute;
    cursor: pointer;
}

.viewStandingButton {
    background-color: #08bf57;
}

.viewStandingButton:hover {
    background-color: #01441e;
}

.participatingButton {
    background-color: #f70a65;
}

.participatingButton:hover {
    background-color: #790330;
}

.podiumContainer {
    display: block;
}

.dashboardAvatar {
    width: 120px;
    height: 120px;
}

.scoreBoardContainer::-webkit-scrollbar {
    display: none;
}

.scoreBoardWrapper:hover {
    background-color: #5e57e6
}

.gameBoardImage {
    width: 120px; 
    height: 90px; 
    border-radius: 5px;
    cursor: pointer;
    border-color: purple;
}
.gameBoardImage:hover{
    opacity: 0.6;
    border-width: 3px;
}
.playGameButton{
    color: #e42575; 
    padding: 8px 16px;
    font-size: 18px;
    border-radius:5px;
    border-width: 1px;
    border-style: solid;
    border-color: #e42575;
    background-color: transparent;
    font-weight: bold;
    position: absolute;
    left: 30px;
    bottom: 30px;

}
.playGameButton:hover{
    background-color: #e42575;
    color: white;

}
@media only screen and (max-width: 630px) {
    .podiumContainer {
        display: none;
    }

    .dashboardAvatarContainer {
        flex-grow: 1;
    }

    .dashboardAvatar {
        width: 160px;
        height: 160px;
    }

    .gameBoardImage {
        width: 100px; 
        height: 80px; 
    }
}